Assistent-Production-v3.json
{
  "name": "Assistent-Production-v3",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 2.1,
      "position": [
        520,
        300
      ],
      "webhookId": "telegram-webhook-id",
      "credentials": {
        "telegramApi": {
          "id": "{{TELEGRAM_CREDENTIAL_ID}}",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === VALIDATION & ERROR HANDLING ===\nconst message = $input.first().json.message;\nconst chat = $input.first().json.chat;\n\n// Валидация входных данных\nif (!message || !message.text) {\n  throw new Error('Invalid message format: missing text');\n}\n\nif (!chat || !chat.id) {\n  throw new Error('Invalid chat format: missing chat.id');\n}\n\nconst chatId = String(chat.id);\nconst text = String(message.text).trim();\n\n// Проверка на пустое сообщение\nif (text.length === 0) {\n  return [{\n    json: {\n      chatId: chatId,\n      message: '',\n      isEmpty: true,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: text,\n    isEmpty: false,\n    timestamp: new Date().toISOString(),\n    userName: chat.username || chat.first_name || 'Unknown',\n    chatType: chat.type\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "empty-msg-condition",
              "leftValue": "={{ $json.isEmpty }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-empty-message",
      "name": "Check Empty Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Validate Input').first().json.chatId }}",
        "text": "⚠️ Пожалуйста, отправьте текстовое сообщение.",
        "additionalFields": {}
      },
      "id": "reply-empty-message",
      "name": "Reply Empty Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 2.1,
      "position": [
        1300,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{TELEGRAM_CREDENTIAL_ID}}",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === MEMORY HUB (SHARED) ===\n// Централизованное управление памятью сессий\n// В production заменить на вызов Redis/PostgreSQL через HTTP Request\n\nconst chatId = $input.first().json.chatId;\nconst userMessage = $input.first().json.message;\nconst timestamp = new Date().toISOString();\n\n// Ключ сессии\nconst sessionKey = `session:${chatId}`;\n\n// Имитация хранилища сессий (в production использовать $getWorkflowStaticData или внешнюю БД)\nlet session = {};\n\n// Попытка получить существующую сессию из статических данных workflow\ntry {\n  const staticData = $getWorkflowStaticData();\n  if (staticData.sessions && staticData.sessions[sessionKey]) {\n    session = staticData.sessions[sessionKey];\n  } else {\n    // Инициализация новой сессии\n    session = {\n      chatId: chatId,\n      createdAt: timestamp,\n      updatedAt: timestamp,\n      messageCount: 0,\n      history: [],\n      context: {\n        currentAgent: 'orchestrator',\n        lastIntent: null,\n        skills: ['calendar', 'default']\n      },\n      metadata: {\n        language: 'ru',\n        timezone: 'Asia/Yekaterinburg'\n      }\n    };\n  }\n} catch (error) {\n  // При ошибке создаём новую сессию\n  session = {\n    chatId: chatId,\n    createdAt: timestamp,\n    updatedAt: timestamp,\n    messageCount: 0,\n    history: [],\n    context: {\n      currentAgent: 'orchestrator',\n      lastIntent: null,\n      skills: ['calendar', 'default']\n    },\n    metadata: {\n      language: 'ru',\n      timezone: 'Asia/Yekaterinburg'\n    }\n  };\n}\n\n// Добавляем сообщение пользователя в историю\nsession.history.push({\n  role: 'user',\n  content: userMessage,\n  timestamp: timestamp\n});\n\n// Ограничиваем историю последними 10 сообщениями\nif (session.history.length > 10) {\n  session.history = session.history.slice(-10);\n}\n\nsession.messageCount += 1;\nsession.updatedAt = timestamp;\n\n// Сохраняем сессию в статические данные workflow\ntry {\n  const staticData = $getWorkflowStaticData();\n  if (!staticData.sessions) {\n    staticData.sessions = {};\n  }\n  staticData.sessions[sessionKey] = session;\n} catch (error) {\n  console.error('Failed to save session to static data:', error.message);\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    sessionId: sessionKey,\n    session: session,\n    messageHistory: session.history,\n    sessionContext: session.context,\n    metadata: session.metadata,\n    isNewSession: session.messageCount === 1\n  }\n}];"
      },
      "id": "memory-hub-shared",
      "name": "Memory Hub (Shared)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        420
      ],
      "onError": "continueRegularOutput",
      "notes": "Централизованное хранилище сессий с использованием $getWorkflowStaticData. В production заменить на Redis/PostgreSQL."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Orchestrator - Skill-Based Router\n\n## ROLE\nYou are a lightweight router. Analyze the user message and select ONE skill.\n\n## AVAILABLE SKILLS\n{{JSON.stringify($json.sessionContext.skills)}}\n\n## SKILL DEFINITIONS\n- **calendar**: Create/read/update/delete events, check availability\n- **default**: General conversation, questions, clarifications\n\n## RULES\n1. Return ONLY valid JSON\n2. If unclear → use \"default\" agent with task \"clarify\"\n3. Never invent skills\n\n## OUTPUT FORMAT\n{\n  \"selectedSkill\": \"calendar|default\",\n  \"confidence\": 0.0-1.0,\n  \"task\": \"create_event|read_events|update_event|delete_event|clarify|chat\",\n  \"params\": {},\n  \"reasoning\": \"brief explanation\"\n}\n\n## USER MESSAGE\n{{ $json.message }}\n\n## CONTEXT\nLanguage: {{ $json.metadata.language }}\nTimezone: {{ $json.metadata.timezone }}",
        "options": {
          "responseFormat": "json",
          "maxTokens": 250,
          "temperature": 0.3
        }
      },
      "id": "orchestrator-skill-router",
      "name": "Orchestrator (Skill Router)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1560,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_CREDENTIAL_ID}}",
          "name": "OpenAI Account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Лёгкий роутер. Минимальный промпт (~400 токенов)."
    },
    {
      "parameters": {
        "jsCode": "// === ORCHESTRATOR RESPONSE VALIDATION ===\n\nconst orchestratorOutput = $input.first().json;\n\ntry {\n  // Парсим ответ от LLM (может быть строкой или объектом)\n  let parsed;\n  if (typeof orchestratorOutput.choices !== 'undefined') {\n    // Формат OpenAI API\n    const content = orchestratorOutput.choices[0]?.message?.content;\n    parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  } else if (typeof orchestratorOutput.selectedSkill !== 'undefined') {\n    // Уже распаршено\n    parsed = orchestratorOutput;\n  } else {\n    throw new Error('Unknown response format');\n  }\n\n  // Валидация обязательных полей\n  if (!parsed.selectedSkill || !parsed.task) {\n    throw new Error('Missing required fields: selectedSkill or task');\n  }\n\n  // Нормализация confidence\n  parsed.confidence = parseFloat(parsed.confidence) || 0.5;\n\n  // Если низкая уверенность → переключаем на default\n  if (parsed.confidence < 0.6) {\n    parsed.selectedSkill = 'default';\n    parsed.task = 'clarify';\n    parsed.reasoning = 'Low confidence, routing to clarification';\n  }\n\n  return [{\n    json: {\n      ...orchestratorOutput,\n      routedTo: parsed.selectedSkill,\n      task: parsed.task,\n      params: parsed.params || {},\n      confidence: parsed.confidence,\n      reasoning: parsed.reasoning\n    }\n  }];\n\n} catch (error) {\n  // При ошибке парсинга → default агент\n  console.error('Orchestrator parsing error:', error.message);\n  \n  return [{\n    json: {\n      ...orchestratorOutput,\n      routedTo: 'default',\n      task: 'clarify',\n      params: {},\n      confidence: 0.0,\n      reasoning: 'Parse error, fallback to default',\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "validate-orchestrator-output",
      "name": "Validate Orchestrator Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        420
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "calendar-route-condition",
              "leftValue": "={{ $json.routedTo }}",
              "rightValue": "calendar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-to-calendar",
      "name": "Route to Calendar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        420
      ]
    },
    {
      "parameters": {
        "agent": "tools",
        "promptType": "define",
        "text": "=# Calendar Agent - Tool-Based Execution\n\n## ROLE\nYou are a Calendar Assistant with access to tools. Execute the requested task.\n\n## AVAILABLE TOOLS\n1. **create_event** - Create new calendar event\n2. **read_events** - List upcoming events\n3. **update_event** - Modify existing event\n4. **delete_event** - Remove event\n5. **check_availability** - Check free time slots\n\n## CURRENT TASK\nTask: {{ $json.task }}\nParameters: {{ JSON.stringify($json.params) }}\n\n## USER CONTEXT\nMessage: {{ $json.message }}\nHistory: {{ JSON.stringify($json.messageHistory.slice(-3)) }}\nTimezone: {{ $json.metadata.timezone }}\n\n## RULES\n1. Use tools for all calendar operations\n2. Return structured JSON with action result\n3. If params incomplete → ask clarifying questions\n4. Always include success/failure status\n\n## OUTPUT FORMAT\n{\n  \"action\": \"tool_name\",\n  \"success\": true/false,\n  \"data\": {...},\n  \"message\": \"User-friendly response\",\n  \"requiresFollowup\": false\n}",
        "tools": [
          {
            "tool": "create_calendar_event",
            "description": "Create a new calendar event with title, date, duration, and optional description"
          },
          {
            "tool": "read_calendar_events",
            "description": "Read upcoming calendar events for a specific date range"
          },
          {
            "tool": "update_calendar_event",
            "description": "Update an existing calendar event by ID"
          },
          {
            "tool": "delete_calendar_event",
            "description": "Delete a calendar event by ID"
          },
          {
            "tool": "check_calendar_availability",
            "description": "Check available time slots in the calendar"
          }
        ],
        "options": {
          "responseFormat": "json",
          "maxTokens": 400,
          "temperature": 0.5
        }
      },
      "id": "calendar-agent-tools",
      "name": "Calendar Agent (Tools)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2340,
        300
      ],
      "notes": "Агент с инструментами для работы с календарём. Требует подключения реальных инструментов."
    },
    {
      "parameters": {
        "jsCode": "// === CALENDAR TOOLS EXECUTOR ===\n// Полная реализация инструментов календаря с валидацией и обработкой ошибок\n\nconst task = $input.first().json.task;\nconst params = $input.first().json.params || {};\nconst timezone = $input.first().json.metadata?.timezone || 'Asia/Yekaterinburg';\nconst chatId = $input.first().json.chatId;\nconst messageHistory = $input.first().json.messageHistory || [];\n\n// Вспомогательная функция для парсинга дат из естественного языка\nfunction parseDateFromText(text) {\n  // Упрощённая реализация - в production использовать NLP библиотеку\n  const now = new Date();\n  \n  if (text.includes('завтра')) {\n    return new Date(now.setDate(now.getDate() + 1)).toISOString();\n  }\n  if (text.includes('сегодня')) {\n    return now.toISOString();\n  }\n  \n  // Попытка найти дату в формате YYYY-MM-DD или DD.MM.YYYY\n  const dateRegex = /(\\d{4}-\\d{2}-\\d{2}|\\d{2}\\.\\d{2}\\.\\d{4})/;\n  const match = text.match(dateRegex);\n  if (match) {\n    return new Date(match[0]).toISOString();\n  }\n  \n  return null;\n}\n\n// Извлечение параметров из истории сообщений\nfunction extractMissingParamsFromHistory(missingField, history) {\n  const lastMessages = history.slice(-3).map(m => m.content).join(' ');\n  \n  if (missingField === 'title') {\n    // Пытаемся извлечь название из сообщения\n    const titleMatch = lastMessages.match(/(?:встреч[ау]|событи[ея]|звонок|обед)[\\s]+(?:с\\s+)?([^\n,.!?]+)/i);\n    if (titleMatch) return titleMatch[1].trim();\n  }\n  \n  if (missingField === 'datetime') {\n    return parseDateFromText(lastMessages);\n  }\n  \n  return null;\n}\n\n// Реализация инструментов календаря\nconst calendarTools = {\n  \n  create_event: async (params) => {\n    // Проверка на наличие необходимых параметров\n    if (!params.title) {\n      // Пытаемся извлечь из истории\n      const extractedTitle = extractMissingParamsFromHistory('title', messageHistory);\n      if (extractedTitle) {\n        params.title = extractedTitle;\n      } else {\n        return {\n          success: false,\n          requiresFollowup: true,\n          message: 'Как называется событие?',\n          missingField: 'title',\n          action: 'create_event'\n        };\n      }\n    }\n    \n    if (!params.date && !params.datetime) {\n      const extractedDate = extractMissingParamsFromHistory('datetime', messageHistory);\n      if (extractedDate) {\n        params.datetime = extractedDate;\n      } else {\n        return {\n          success: false,\n          requiresFollowup: true,\n          message: 'На какую дату и время запланировать событие?',\n          missingField: 'datetime',\n          action: 'create_event'\n        };\n      }\n    }\n    \n    // Установка значения по умолчанию для длительности\n    if (!params.duration) {\n      params.duration = 60; // минут\n    }\n    \n    // Генерация уникального ID события\n    const eventId = `evt_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n    const eventDatetime = params.date || params.datetime;\n    \n    // Форматирование даты для вывода\n    let formattedDate;\n    try {\n      const dateObj = new Date(eventDatetime);\n      formattedDate = dateObj.toLocaleString('ru-RU', {\n        timeZone: timezone,\n        day: 'numeric',\n        month: 'long',\n        hour: '2-digit',\n        minute: '2-digit'\n      });\n    } catch (e) {\n      formattedDate = eventDatetime;\n    }\n    \n    return {\n      success: true,\n      action: 'create_event',\n      data: {\n        eventId: eventId,\n        title: params.title,\n        datetime: eventDatetime,\n        duration: params.duration,\n        description: params.description || '',\n        timezone: timezone,\n        createdAt: new Date().toISOString()\n      },\n      message: `✅ Событие \"${params.title}\" создано\\n📅 ${formattedDate}\\n⏱️ Длительность: ${params.duration} мин.`,\n      requiresFollowup: false\n    };\n  },\n  \n  read_events: async (params) => {\n    const fromDate = params.fromDate ? new Date(params.fromDate) : new Date();\n    const toDate = params.toDate \n      ? new Date(params.toDate) \n      : new Date(Date.now() + 7 * 24 * 60 * 60 * 1000); // +7 дней\n    \n    // Mock-данные событий (в production заменить на API вызов)\n    const mockEvents = [\n      {\n        eventId: 'evt_001',\n        title: 'Встреча с командой',\n        datetime: new Date(Date.now() + 2 * 24 * 60 * 60 * 1000).toISOString(),\n        duration: 60,\n        description: 'Еженедельный синк'\n      },\n      {\n        eventId: 'evt_002',\n        title: 'Обед с клиентом',\n        datetime: new Date(Date.now() + 3 * 24 * 60 * 60 * 1000 + 5 * 60 * 60 * 1000).toISOString(),\n        duration: 90,\n        description: 'Обсуждение контракта'\n      },\n      {\n        eventId: 'evt_003',\n        title: 'Презентация проекта',\n        datetime: new Date(Date.now() + 5 * 24 * 60 * 60 * 1000).toISOString(),\n        duration: 120,\n        description: 'Финальная презентация'\n      }\n    ];\n    \n    // Фильтрация событий по диапазону дат\n    const filteredEvents = mockEvents.filter(e => {\n      const eventDate = new Date(e.datetime);\n      return eventDate >= fromDate && eventDate <= toDate;\n    });\n    \n    // Форматирование списка событий\n    let eventsList = '';\n    filteredEvents.forEach((event, index) => {\n      const dateStr = new Date(event.datetime).toLocaleString('ru-RU', {\n        timeZone: timezone,\n        weekday: 'short',\n        day: 'numeric',\n        month: 'short',\n        hour: '2-digit',\n        minute: '2-digit'\n      });\n      eventsList += `${index + 1}. ${event.title}\\n   📅 ${dateStr} (${event.duration} мин.)\\n`;\n    });\n    \n    if (filteredEvents.length === 0) {\n      return {\n        success: true,\n        action: 'read_events',\n        data: { events: [], count: 0 },\n        message: '📅 На ближайшую неделю событий не запланировано.',\n        requiresFollowup: false\n      };\n    }\n    \n    return {\n      success: true,\n      action: 'read_events',\n      data: {\n        events: filteredEvents,\n        count: filteredEvents.length,\n        dateRange: { from: fromDate.toISOString(), to: toDate.toISOString() }\n      },\n      message: `📅 События на период:\\n\\n${eventsList}`,\n      requiresFollowup: false\n    };\n  },\n  \n  update_event: async (params) => {\n    if (!params.eventId && !params.title) {\n      const extractedTitle = extractMissingParamsFromHistory('title', messageHistory);\n      if (extractedTitle) {\n        params.title = extractedTitle;\n      } else {\n        return {\n          success: false,\n          requiresFollowup: true,\n          message: 'Какое событие нужно обновить? Укажите название или дату.',\n          missingField: 'eventId',\n          action: 'update_event'\n        };\n      }\n    }\n    \n    // Проверка что именно обновляем\n    const hasUpdates = params.newTitle || params.newDatetime || params.newDuration || params.newDescription;\n    if (!hasUpdates) {\n      return {\n        success: false,\n        requiresFollowup: true,\n        message: 'Что нужно изменить в событии? (время, название, длительность)',\n        missingField: 'updateData',\n        action: 'update_event'\n      };\n    }\n    \n    // Mock обновление\n    const eventId = params.eventId || `evt_by_title_${params.title}`;\n    const updates = [];\n    if (params.newTitle) updates.push(`название → \"${params.newTitle}\"`);\n    if (params.newDatetime) updates.push(`время → ${params.newDatetime}`);\n    if (params.newDuration) updates.push(`длительность → ${params.newDuration} мин.`);\n    \n    return {\n      success: true,\n      action: 'update_event',\n      data: {\n        eventId: eventId,\n        updated: true,\n        changes: updates\n      },\n      message: `✅ Событие обновлено:\\n${updates.map(u => '  • ' + u).join('\\n')}`,\n      requiresFollowup: false\n    };\n  },\n  \n  delete_event: async (params) => {\n    if (!params.eventId && !params.title) {\n      const extractedTitle = extractMissingParamsFromHistory('title', messageHistory);\n      if (extractedTitle) {\n        params.title = extractedTitle;\n      } else {\n        return {\n          success: false,\n          requiresFollowup: true,\n          message: 'Какое событие нужно удалить?',\n          missingField: 'eventId',\n          action: 'delete_event'\n        };\n      }\n    }\n    \n    // Mock удаление\n    const eventId = params.eventId || `evt_by_title_${params.title}`;\n    \n    return {\n      success: true,\n      action: 'delete_event',\n      data: {\n        deleted: true,\n        eventId: eventId\n      },\n      message: `✅ Событие \"${params.title || 'выбранное'}\" удалено из календаря`,\n      requiresFollowup: false\n    };\n  },\n  \n  check_availability: async (params) => {\n    let checkDate;\n    \n    if (params.date) {\n      checkDate = new Date(params.date);\n    } else {\n      // Пытаемся извлечь дату из истории\n      const extractedDate = extractMissingParamsFromHistory('datetime', messageHistory);\n      if (extractedDate) {\n        checkDate = new Date(extractedDate);\n      } else {\n        checkDate = new Date(); // Сегодня\n      }\n    }\n    \n    const dateStr = checkDate.toLocaleDateString('ru-RU', {\n      timeZone: timezone,\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long'\n    });\n    \n    // Mock доступные слоты (в production проверить реальный календарь)\n    const availableSlots = [\n      { start: '09:00', end: '12:00', duration: 180 },\n      { start: '14:00', end: '18:00', duration: 240 }\n    ];\n    \n    const slotsText = availableSlots\n      .map(s => `  • ${s.start} - ${s.end} (${s.duration} мин.)`)\n      .join('\\n');\n    \n    return {\n      success: true,\n      action: 'check_availability',\n      data: {\n        date: checkDate.toISOString(),\n        availableSlots: availableSlots\n      },\n      message: `🕐 Доступные слоты на ${dateStr}:\\n\\n${slotsText}`,\n      requiresFollowup: false\n    };\n  }\n};\n\n// Главная функция выполнения\nasync function executeTool() {\n  try {\n    const tool = calendarTools[task];\n    \n    if (!tool) {\n      return {\n        success: false,\n        action: task,\n        message: `❌ Неизвестная задача: ${task}. Доступные: create_event, read_events, update_event, delete_event, check_availability`,\n        requiresFollowup: true,\n        error: 'Unknown task'\n      };\n    }\n    \n    const result = await tool(params);\n    \n    return {\n      json: {\n        ...$input.first().json,\n        calendarResult: result,\n        agentResponse: result.message,\n        requiresFollowup: result.requiresFollowup,\n        toolExecuted: task\n      }\n    };\n    \n  } catch (error) {\n    console.error('Calendar tool execution error:', error);\n    \n    return {\n      json: {\n        ...$input.first().json,\n        calendarResult: {\n          success: false,\n          action: task,\n          message: `❌ Ошибка выполнения: ${error.message}`,\n          requiresFollowup: false,\n          error: error.message\n        },\n        agentResponse: `Произошла ошибка при обработке запроса: ${error.message}`,\n        error: error.message\n      }\n    };\n  }\n}\n\n// Выполнение (синхронно для Code node в n8n)\nconst result = calendarTools[task] \n  ? calendarTools[task](params) \n  : {\n      success: false,\n      message: `Неизвестная задача: ${task}`,\n      requiresFollowup: true\n    };\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    calendarResult: result,\n    agentResponse: result.message,\n    requiresFollowup: result.requiresFollowup,\n    toolExecuted: task\n  }\n}];"
      },
      "id": "calendar-tools-executor",
      "name": "Calendar Tools Executor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ],
      "onError": "continueRegularOutput",
      "notes": "Полная реализация инструментов календаря с валидацией, извлечением параметров из истории и обработкой ошибок."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "default-route-condition",
              "leftValue": "={{ $json.routedTo }}",
              "rightValue": "default",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-to-default",
      "name": "Route to Default",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2340,
        540
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Default Agent - General Conversation\n\n## ROLE\nYou are a helpful assistant for general conversations and clarifications.\n\n## CONTEXT\nUser Message: {{ $json.message }}\nOrchestrator Reasoning: {{ $json.reasoning }}\nTask: {{ $json.task }}\n\nHistory (last 3 messages): {{ JSON.stringify($json.messageHistory.slice(-3)) }}\n\n## RULES\n1. Be concise and helpful\n2. If task is \"clarify\" → ask specific questions\n3. If unsure about intent → suggest available skills\n4. Respond in user's language ({{ $json.metadata.language }})\n\n## AVAILABLE SKILLS\n- **calendar**: Manage events, meetings, appointments\n\n## OUTPUT\nReturn a clear, natural response.",
        "options": {
          "maxTokens": 300,
          "temperature": 0.7
        }
      },
      "id": "default-agent-chat",
      "name": "Default Agent (Chat)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2600,
        540
      ],
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_CREDENTIAL_ID}}",
          "name": "OpenAI Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === UNIFY AGENT RESPONSES ===\n// Приведение ответов от всех агентов к единому формату\n\nconst inputData = $input.first().json;\nlet finalResponse = '';\n\n// Определяем источник ответа\nif (inputData.calendarResult) {\n  // Ответ от Calendar Agent\n  finalResponse = inputData.agentResponse || inputData.calendarResult.message;\n} else if (inputData.choices) {\n  // Ответ от Default Agent (OpenAI format)\n  finalResponse = inputData.choices[0]?.message?.content || 'Извините, не удалось обработать запрос.';\n} else if (inputData.agentResponse) {\n  // Готовый ответ\n  finalResponse = inputData.agentResponse;\n} else {\n  // Fallback\n  finalResponse = '⚠️ Произошла ошибка при обработке запроса. Попробуйте ещё раз.';\n}\n\n// Обновляем историю с ответом ассистента\nconst updatedHistory = [...(inputData.messageHistory || [])];\nupdatedHistory.push({\n  role: 'assistant',\n  content: finalResponse,\n  timestamp: new Date().toISOString()\n});\n\n// Ограничиваем историю\nif (updatedHistory.length > 10) {\n  updatedHistory.slice(-10);\n}\n\nreturn [{\n  json: {\n    ...inputData,\n    finalResponse: finalResponse,\n    updatedHistory: updatedHistory,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "unify-agent-responses",
      "name": "Unify Agent Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        420
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === UPDATE MEMORY HUB ===\n// Сохранение обновлённой истории сессии после обработки запроса\n\nconst chatId = $input.first().json.chatId;\nconst sessionKey = `session:${chatId}`;\nconst finalResponse = $input.first().json.finalResponse || $input.first().json.agentResponse || 'Ошибка: нет ответа';\nconst timestamp = new Date().toISOString();\n\n// Получаем текущую историю или создаём новую\nlet messageHistory = $input.first().json.messageHistory || [];\nlet session = $input.first().json.session || {};\n\n// Добавляем ответ ассистента в историю\nmessageHistory.push({\n  role: 'assistant',\n  content: finalResponse,\n  timestamp: timestamp\n});\n\n// Ограничиваем историю последними 10 сообщениями\nif (messageHistory.length > 10) {\n  messageHistory = messageHistory.slice(-10);\n}\n\n// Обновляем сессию\nsession.history = messageHistory;\nsession.updatedAt = timestamp;\nsession.lastIntent = $input.first().json.task || session.lastIntent;\n\n// Сохраняем в статические данные workflow\ntry {\n  const staticData = $getWorkflowStaticData();\n  if (!staticData.sessions) {\n    staticData.sessions = {};\n  }\n  staticData.sessions[sessionKey] = session;\n} catch (error) {\n  console.error('Failed to update session in static data:', error.message);\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    memoryUpdated: true,\n    updatedHistory: messageHistory,\n    session: session\n  }\n}];"
      },
      "id": "update-memory-hub",
      "name": "Update Memory Hub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        420
      ],
      "onError": "continueRegularOutput",
      "notes": "Обновление сессии после обработки запроса. Сохраняет ответ ассистента в историю."
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.finalResponse }}",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "send-final-reply",
      "name": "Send Final Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 2.1,
      "position": [
        3380,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{TELEGRAM_CREDENTIAL_ID}}",
          "name": "Telegram Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === GLOBAL ERROR HANDLER ===\n// Логирование ошибок и отправка уведомления пользователю\n\nconst errorInfo = {\n  timestamp: new Date().toISOString(),\n  chatId: $input.first().json.chatId || 'unknown',\n  errorMessage: $input.first().json.error || 'Unknown error',\n  workflowStage: 'final'\n};\n\nconsole.error('Workflow Error:', JSON.stringify(errorInfo));\n\n// Возвращаем понятное сообщение пользователю\nreturn [{\n  json: {\n    chatId: errorInfo.chatId,\n    finalResponse: '⚠️ Произошла ошибка при обработке вашего запроса. Пожалуйста, попробуйте ещё раз позже.',\n    errorLogged: true\n  }\n}];"
      },
      "id": "global-error-handler",
      "name": "Global Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3380,
        600
      ],
      "notes": "Глобальный обработчик ошибок для всего воркфлоу."
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Telegram Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Empty Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Empty Message": {
      "main": [
        [
          {
            "node": "Reply Empty Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Memory Hub (Shared)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Hub (Shared)": {
      "main": [
        [
          {
            "node": "Orchestrator (Skill Router)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator (Skill Router)": {
      "main": [
        [
          {
            "node": "Validate Orchestrator Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Orchestrator Output": {
      "main": [
        [
          {
            "node": "Route to Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Calendar": {
      "main": [
        [
          {
            "node": "Calendar Agent (Tools)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent (Tools)": {
      "main": [
        [
          {
            "node": "Calendar Tools Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Tools Executor": {
      "main": [
        [
          {
            "node": "Unify Agent Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Default": {
      "main": [
        [
          {
            "node": "Default Agent (Chat)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unify Agent Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Agent (Chat)": {
      "main": [
        [
          {
            "node": "Unify Agent Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unify Agent Responses": {
      "main": [
        [
          {
            "node": "Update Memory Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Memory Hub": {
      "main": [
        [
          {
            "node": "Send Final Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Final Reply": {
      "main": [
        [
          {
            "node": "Global Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "instanceId": "production-instance-v3",
    "templateCredsSetupCompleted": false
  },
  "versionId": "3.0-production",
  "triggerCount": 1,
  "active": false,
  "tags": [
    {
      "name": "production",
      "color": "green"
    },
    {
      "name": "refactored",
      "color": "blue"
    }
  ],
  "notes": "Production-ready воркфлоу с Memory Hub, Skill-based Orchestrator и Calendar Tools"
}