Assistent-Refactored.json
{
  "name": "Assistent-Refactored",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "accessToken": "={{ $json.accessToken }}",
        "options": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chatId",
              "value": "={{ $json.chat.id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message.text }}"
            }
          ]
        }
      },
      "id": "set-chat-data",
      "name": "Set Chat Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Инициализация сессии\nconst chatId = $input.first().json.chatId;\nconst message = $input.first().json.message;\n\n// Структура сессии\nconst session = {\n  chatId: chatId,\n  history: [{role: 'user', content: message}],\n  context: {currentAgent: 'orchestrator'}\n};\n\nreturn [{json: session}];"
      },
      "id": "initialize-session",
      "name": "Initialize Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Orchestrator AI with access to specialized agents.\n\nSKILLS:\n- calendar_agent: Schedule events, check availability, manage calendar\n\nUSER MESSAGE: {{ $json.history[0].content }}\n\nRESPONSE FORMAT:\n{\n  \"agent\": \"calendar_agent\",\n  \"task\": \"create_event\",\n  \"params\": {\"title\": \"Meeting\", \"date\": \"2026-04-01T10:00:00Z\"}\n}",
        "options": {
          "responseFormat": "json",
          "maxTokens": 200
        }
      },
      "id": "orchestrator-agent",
      "name": "Orchestrator Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.agent }}",
              "rightValue": "calendar_agent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-to-agent",
      "name": "Route to Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Calendar Management Assistant.\n\nSUPPORTED TASKS:\n- create_event: Create new event\n- read_events: List events\n- update_event: Modify event\n- delete_event: Remove event\n\nTASK: {{ $json.task }}\nPARAMS: {{ JSON.stringify($json.params) }}\n\nUSER CONTEXT: {{ $json.history[0].content }}",
        "options": {
          "responseFormat": "json",
          "maxTokens": 300
        }
      },
      "id": "calendar-agent",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1820,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обработка результата календарного агента\nconst result = $input.first().json.content || $input.first().json.response;\nconst responseText = typeof result === 'object' ? JSON.stringify(result) : result;\n\nconst chatId = $('Initialize Session').first().json.chatId;\n\nreturn [{\n  json: {\n    chatId: chatId,\n    response: responseText\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 2.1,
      "position": [
        2340,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Telegram Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set Chat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Chat Data": {
      "main": [
        [
          {
            "node": "Initialize Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Session": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Route to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Agent": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "refactored-instance"
  },
  "versionId": "2.0-refactored",
  "triggerCount": 1,
  "active": false
}
