Assistent-Production-v3.json
{
  "name": "Assistent-Production-v3",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Подготовка данных сессии и очистка входа\nconst message = $input.first().json.message;\nconst chatId = message.chat.id;\nconst text = message.text || '';\nconst userId = message.from.id;\n\n// Проверка на пустое сообщение или команду старта без контекста\nif (!text.trim() && !message.new_chat_members) {\n  return [{ json: { skip: true, reason: 'empty_message' } }];\n}\n\n// Формирование единого sessionId для памяти\nconst sessionId = `chat_${chatId}_user_${userId}`;\n\nreturn [{\n  json: {\n    chatId,\n    userId,\n    text,\n    sessionId,\n    timestamp: new Date().toISOString(),\n    input: {\n      role: 'user',\n      content: text\n    }\n  }\n}];"
      },
      "id": "5a61e3ea-4536-4d48-816d-a8991082b022",
      "name": "Init Session & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -416
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "45ed630a-d5f9-46b3-8f84-22b49fea4209",
      "name": "Skip Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -384,
        -416
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.targetAgent }}",
        "rules": {
          "rules": [
            {
              "value2": "general_chat",
              "output": 1
            },
            {
              "value2": "calendar_agent"
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "f9962914-514b-4589-8a78-107d41d8b08f",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        352,
        -432
      ]
    },
    {
      "parameters": {
        "simplifyOutput": false,
        "options": {}
      },
      "id": "a32e0f43-f24d-44b8-ad42-82b7a90c37af",
      "name": "Memory Hub (Shared)",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1,
      "position": [
        64,
        -640
      ],
      "notes": "Единый узел памяти для всех агентов. Использует sessionId из входа."
    },
    {
      "parameters": {
        "jsCode": "// Объединение результатов от разных веток с очисткой от JSON-разметки\nlet responseText = '';\n\n// Получаем входные данные\nconst input = $input.first().json;\n\n// Функция для извлечения чистого текста из различных форматов\nfunction extractContent(data) {\n  if (!data) return '';\n  \n  // Если строка - пробуем распарсить как JSON\n  if (typeof data === 'string') {\n    try {\n      const parsed = JSON.parse(data);\n      // Возвращаем только полезное содержимое, убираем action\n      return parsed.response || parsed.content || parsed.text || parsed.message || data;\n    } catch (e) {\n      // Если не JSON - чистим от возможных остатков JSON-синтаксиса\n      return data\n        .replace(/^\\s*\\{\\s*\"action\"\\s*:\\s*\"[^\"]*\"\\s*,\\s*\"response\"\\s*:\\s*\"/, '') // Удаляем {\"action\": \"...\", \"response\": \"\n        .replace(/\"\\s*\\}\\s*$/, '') // Удаляем завершающие \"}\n        .replace(/\\\\\"/g, '\"') // Раэкранируем кавычки\n        .trim();\n    }\n  }\n  \n  // Если объект - извлекаем content/response\n  if (typeof data === 'object') {\n    // Исключаем технические поля\n    const { action, confidence, forward_to, ...rest } = data;\n    return rest.response || rest.content || rest.text || rest.message || JSON.stringify(rest);\n  }\n  \n  return String(data);\n}\n\n// Определяем источник ответа\nif (input.choices?.[0]?.message?.content) {\n  // Стандартный формат OpenAI/Groq API\n  responseText = extractContent(input.choices[0].message.content);\n} else if (input.output) {\n  // Ответ от General Chat или других агентов\n  responseText = extractContent(input.output);\n} else if (input.response) {\n  // Ответ от LangChain Agent (Calendar)\n  responseText = extractContent(input.response);\n} else if (input.content) {\n  // Прямой формат content\n  responseText = extractContent(input.content);\n} else {\n  // Fallback\n  responseText = 'Произошла ошибка обработки запроса.';\n}\n\n// Финальная очистка от технических префиксов, если остались\nresponseText = responseText\n  .replace(/^\\s*{\\s*\"action\"\\s*:\\s*\"respond\"\\s*,\\s*\"response\"\\s*:\\s*\"/i, '')\n  .replace(/^\\s*{\\s*\"action\"\\s*:\\s*\"route_calendar\"\\s*,\\s*\"response\"\\s*:\\s*\"/i, '')\n  .replace(/\"\\s*}\\s*$/g, '')\n  .replace(/\\\\\"/g, '\"')\n  .replace(/^[\"']|[\"']$/g, '')\n  .trim();\n\n// Если после очистки пусто - используем fallback\nif (!responseText) {\n  responseText = 'Не удалось обработать ответ агента.';\n}\n\nreturn [{\n  json: {\n    chatId: $('Init Session & Validate').first().json.chatId,\n    text: responseText,\n    originalInput: $('Init Session & Validate').first().json.text\n  }\n}];"
      },
      "id": "17faf0ad-1224-444e-8a0c-f904e10e4be2",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Обработка ошибки: отправка сообщения пользователю\nconst chatId = $('Init Session & Validate').first()?.json?.chatId || $json.chatId;\nconst errorMsg = '⚠️ Произошла внутренняя ошибка. Попробуйте позже.';\n\nreturn [{\n  json: {\n    chatId: chatId,\n    text: errorMsg\n  }\n}];"
      },
      "id": "296ed7f7-3646-4d8c-8c16-0a3139e755ee",
      "name": "Global Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"ТЫ — МАРШРУТИЗАТОР (ORCHESTRATOR).\\nТвоя задача: определить нужный СКИЛЛ (агент) на основе сообщения пользователя.\\n\\nДОСТУПНЫЕ СКИЛЛЫ:\\n1. calendar_agent — Работа с календарем (создать, удалить, найти событие, расписание).\\n2. general_chat — Обычный разговор, вопросы, уточнения (используется по умолчанию).\\n\\nПРАВИЛА:\\n- Если пользователь говорит о времени, встречах, планах -> выбирай 'calendar_agent'.\\n- В остальных случаях -> выбирай 'general_chat'.\\n- НЕ отвечай на вопрос, ТОЛЬКО выбери скилл.\\n\\nФОРМАТ ОТВЕТА (СТРОГО JSON):\\n{\\\"target_agent\\\": \\\"calendar_agent\\\" | \\\"general_chat\\\", \\\"confidence\\\": 0-1}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.text }}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 150,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -400
      ],
      "id": "7074c574-9d2e-472b-bcef-5fa8202aceb8",
      "name": "Groq models",
      "credentials": {
        "httpBearerAuth": {
          "id": "PkPpLSVu1GC9EZIv",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        -416
      ],
      "id": "2e72f7ce-50f6-4b90-b3f8-0f1e7e91629f",
      "name": "Telegram Trigger",
      "webhookId": "9e2b81a4-24e2-470a-a159-4686b45ebc28",
      "credentials": {
        "telegramApi": {
          "id": "5RUQkvl1p27uqeZW",
          "name": "@MyownAssistentbot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты — General Chat. Отвечай кратко и по существу.\\n\\nПРАВИЛА:\\n1. Если тема = календарь/время/встречи → JSON: {\\\"action\\\": \\\"route_calendar\\\", \\\"response\\\": \\\"Переключаю на агента календаря\\\"}\\n2. Если обычный разговор → JSON: {\\\"action\\\": \\\"respond\\\", \\\"response\\\": \\\"твой ответ\\\"}\\n\\nПРИМЕРЫ:\\nUser: \\\"Привет\\\" → {\\\"action\\\": \\\"respond\\\", \\\"response\\\": \\\"Привет! Чем могу помочь?\\\"}\\nUser: \\\"Создай встречу\\\" → {\\\"action\\\": \\\"route_calendar\\\", \\\"response\\\": \\\"Переключаю...\\\"}\\nUser: \\\"Как дела?\\\" → {\\\"action\\\": \\\"respond\\\", \\\"response\\\": \\\"Отлично, готов помочь!\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.choices[0].message.reasoning.replace(/\\\"/g, '\\\\\\\"').replace(/\\\\n/g, ' ') }}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 300,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -416
      ],
      "id": "c3ac56fb-4330-4b07-b0b3-928515ec3b08",
      "name": "Groq models1",
      "credentials": {
        "httpBearerAuth": {
          "id": "PkPpLSVu1GC9EZIv",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        -416
      ],
      "id": "be4caff4-3b69-4391-88c9-65027fa413d7",
      "name": "Send a text message",
      "webhookId": "92a4eb69-943b-4091-a4de-1712f47e116b",
      "credentials": {
        "telegramApi": {
          "id": "5RUQkvl1p27uqeZW",
          "name": "@MyownAssistentbot"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -96,
        -592
      ],
      "id": "600d8f80-3404-476c-a029-96b1dfdd06db",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "iSv7BjVpmQa3C5uJ",
          "name": "DB rag_base"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === CALENDAR TOOLS IMPLEMENTATION ===\n// Реализация инструментов для работы с календарём\n\nconst task = $input.first().json.task;\nconst params = $input.first().json.params || {};\nconst timezone = $input.first().json.metadata?.timezone || 'Asia/Yekaterinburg';\nconst chatId = $input.first().json.chatId;\n\n// Mock-реализация (в production заменить на Google Calendar/Outlook API)\nconst calendarTools = {\n  \n  create_event: async (params) => {\n    // Валидация параметров\n    if (!params.title) {\n      return {\n        success: false,\n        requiresFollowup: true,\n        message: 'Как называется событие?',\n        missingField: 'title'\n      };\n    }\n    \n    if (!params.date && !params.datetime) {\n      return {\n        success: false,\n        requiresFollowup: true,\n        message: 'На какую дату и время запланировать событие?',\n        missingField: 'datetime'\n      };\n    }\n    \n    if (!params.duration) {\n      params.duration = 60; // По умолчанию 1 час\n    }\n    \n    // Mock создание события\n    const eventId = `evt_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n    \n    return {\n      success: true,\n      action: 'create_event',\n      data: {\n        eventId: eventId,\n        title: params.title,\n        datetime: params.date || params.datetime,\n        duration: params.duration,\n        description: params.description || '',\n        createdAt: new Date().toISOString()\n      },\n      message: `✅ Событие \"${params.title}\" создано на ${params.date || params.datetime}`,\n      requiresFollowup: false\n    };\n  },\n  \n  read_events: async (params) => {\n    const fromDate = params.fromDate || new Date().toISOString();\n    const toDate = params.toDate || new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString();\n    \n    // Mock получение событий\n    const mockEvents = [\n      {\n        eventId: 'evt_001',\n        title: 'Встреча с командой',\n        datetime: '2026-04-01T10:00:00Z',\n        duration: 60\n      },\n      {\n        eventId: 'evt_002',\n        title: 'Обед с клиентом',\n        datetime: '2026-04-02T13:00:00Z',\n        duration: 90\n      }\n    ];\n    \n    return {\n      success: true,\n      action: 'read_events',\n      data: {\n        events: mockEvents,\n        count: mockEvents.length,\n        dateRange: { from: fromDate, to: toDate }\n      },\n      message: `📅 Найдено ${mockEvents.length} событий на ближайшую неделю`,\n      requiresFollowup: false\n    };\n  },\n  \n  update_event: async (params) => {\n    if (!params.eventId) {\n      return {\n        success: false,\n        requiresFollowup: true,\n        message: 'Какое событие нужно обновить? Укажите название или дату.',\n        missingField: 'eventId'\n      };\n    }\n    \n    // Mock обновление\n    return {\n      success: true,\n      action: 'update_event',\n      data: {\n        eventId: params.eventId,\n        updated: true\n      },\n      message: `✅ Событие обновлено`,\n      requiresFollowup: false\n    };\n  },\n  \n  delete_event: async (params) => {\n    if (!params.eventId && !params.title) {\n      return {\n        success: false,\n        requiresFollowup: true,\n        message: 'Какое событие нужно удалить?',\n        missingField: 'eventId'\n      };\n    }\n    \n    // Mock удаление\n    return {\n      success: true,\n      action: 'delete_event',\n      data: {\n        deleted: true\n      },\n      message: `✅ Событие удалено из календаря`,\n      requiresFollowup: false\n    };\n  },\n  \n  check_availability: async (params) => {\n    const date = params.date || new Date().toISOString().split('T')[0];\n    \n    // Mock проверка доступности\n    const availableSlots = [\n      { start: '09:00', end: '12:00' },\n      { start: '14:00', end: '18:00' }\n    ];\n    \n    return {\n      success: true,\n      action: 'check_availability',\n      data: {\n        date: date,\n        availableSlots: availableSlots\n      },\n      message: `🕐 Доступные слоты на ${date}: 09:00-12:00, 14:00-18:00`,\n      requiresFollowup: false\n    };\n  }\n};\n\n// Выполнение инструмента\nasync function executeTool() {\n  try {\n    const tool = calendarTools[task];\n    \n    if (!tool) {\n      return {\n        success: false,\n        action: task,\n        message: `❌ Неизвестная задача: ${task}`,\n        requiresFollowup: true\n      };\n    }\n    \n    const result = await tool(params);\n    \n    return {\n      json: {\n        ...$input.first().json,\n        calendarResult: result,\n        agentResponse: result.message,\n        requiresFollowup: result.requiresFollowup\n      }\n    };\n    \n  } catch (error) {\n    console.error('Calendar tool error:', error);\n    \n    return {\n      json: {\n        ...$input.first().json,\n        calendarResult: {\n          success: false,\n          action: task,\n          message: `❌ Ошибка выполнения: ${error.message}`,\n          requiresFollowup: false\n        },\n        agentResponse: `Произошла ошибка при обработке запроса: ${error.message}`,\n        error: error.message\n      }\n    };\n  }\n}\n\n// Для синхронного выполнения в n8n Code node\n// В реальном сценарии использовать асинхронные вызовы через HTTP Request\nconst result = calendarTools[task] ? calendarTools[task](params) : {\n  success: false,\n  message: `Неизвестная задача: ${task}`\n};\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    calendarResult: result,\n    agentResponse: result.message,\n    requiresFollowup: result.requiresFollowup\n  }\n}];"
      },
      "id": "ec4928ac-cbe9-4e01-b52d-68f4499d4f05",
      "name": "Calendar Tools Executor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -560
      ],
      "onError": "continueRegularOutput",
      "notes": "Реализация инструментов календаря. В production заменить на API вызовы."
    },
    {
      "parameters": {
        "jsCode": "// === UNIFY AGENT RESPONSES ===\n// Приведение ответов от всех агентов к единому формату\n\nconst inputData = $input.first().json;\nlet finalResponse = '';\n\n// Определяем источник ответа\nif (inputData.calendarResult) {\n  // Ответ от Calendar Agent\n  finalResponse = inputData.agentResponse || inputData.calendarResult.message;\n} else if (inputData.choices) {\n  // Ответ от Default Agent (OpenAI format)\n  finalResponse = inputData.choices[0]?.message?.content || 'Извините, не удалось обработать запрос.';\n} else if (inputData.agentResponse) {\n  // Готовый ответ\n  finalResponse = inputData.agentResponse;\n} else {\n  // Fallback\n  finalResponse = '⚠️ Произошла ошибка при обработке запроса. Попробуйте ещё раз.';\n}\n\n// Обновляем историю с ответом ассистента\nconst updatedHistory = [...(inputData.messageHistory || [])];\nupdatedHistory.push({\n  role: 'assistant',\n  content: finalResponse,\n  timestamp: new Date().toISOString()\n});\n\n// Ограничиваем историю\nif (updatedHistory.length > 10) {\n  updatedHistory.slice(-10);\n}\n\nreturn [{\n  json: {\n    ...inputData,\n    finalResponse: finalResponse,\n    updatedHistory: updatedHistory,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "246e0f40-b3b3-4a7f-92a1-32756445d193",
      "name": "Unify Agent Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -832
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === UPDATE MEMORY HUB ===\n// Сохранение обновлённой истории сессии\n\nconst chatId = $input.first().json.chatId;\nconst sessionKey = `session:${chatId}`;\nconst updatedHistory = $input.first().json.updatedHistory || [];\n\n// В production здесь будет обновление записи в Redis/PostgreSQL\n// Для демо просто передаём дальше\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    memoryUpdated: true\n  }\n}];"
      },
      "id": "b6b44b95-6f9d-4e0f-8599-74b5888b1cb2",
      "name": "Update Memory Hub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -416
      ],
      "onError": "continueRegularOutput",
      "notes": "Обновление сессии после обработки. В production - запись в БД."
    },
    {
      "parameters": {
        "jsCode": "// === MEMORY HUB (SHARED) ===\n// Централизованное управление памятью сессий\n\nconst chatId = $input.first().json.chatId;\nconst userMessage = $input.first().json.message;\nconst timestamp = new Date().toISOString();\n\n// Ключ сессии в формате: session:{chatId}\nconst sessionKey = `session:${chatId}`;\n\n// Получаем существующую сессию или создаём новую\nlet session = {};\n\ntry {\n  // Попытка получить сессию из context (в реальном n8n это может быть Redis/DB)\n  // Для демо используем статическое хранилище в workflow\n  const existingSession = $(\"context\").item?.json?.[sessionKey];\n  \n  if (existingSession) {\n    session = JSON.parse(existingSession);\n  } else {\n    // Инициализация новой сессии\n    session = {\n      chatId: chatId,\n      createdAt: timestamp,\n      updatedAt: timestamp,\n      messageCount: 0,\n      history: [],\n      context: {\n        currentAgent: 'orchestrator',\n        lastIntent: null,\n        skills: ['calendar']\n      },\n      metadata: {\n        language: 'ru',\n        timezone: 'Asia/Yekaterinburg'\n      }\n    };\n  }\n} catch (error) {\n  // При ошибке создаём новую сессию\n  session = {\n    chatId: chatId,\n    createdAt: timestamp,\n    updatedAt: timestamp,\n    messageCount: 0,\n    history: [],\n    context: {\n      currentAgent: 'orchestrator',\n      lastIntent: null,\n      skills: ['calendar']\n    },\n    metadata: {\n      language: 'ru',\n      timezone: 'Asia/Yekaterinburg'\n    }\n  };\n}\n\n// Добавляем сообщение пользователя в историю\nsession.history.push({\n  role: 'user',\n  content: userMessage,\n  timestamp: timestamp\n});\n\n// Ограничиваем историю последними 10 сообщениями (для экономии токенов)\nif (session.history.length > 10) {\n  session.history = session.history.slice(-10);\n}\n\nsession.messageCount += 1;\nsession.updatedAt = timestamp;\n\n// Сохраняем сессию обратно в context\n// В production здесь будет вызов к Redis/PostgreSQL\nreturn [{\n  json: {\n    ...$input.first().json,\n    sessionId: sessionKey,\n    session: session,\n    messageHistory: session.history,\n    sessionContext: session.context,\n    metadata: session.metadata\n  }\n}];"
      },
      "id": "0c8d6498-c3b7-4974-980f-743695ed512a",
      "name": "Memory Hub (Shared)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -400
      ],
      "onError": "continueRegularOutput",
      "notes": "Централизованное хранилище сессий. В production заменить на Redis/PostgreSQL."
    },
    {
      "parameters": {
        "jsCode": "// === GLOBAL ERROR HANDLER ===\n// Логирование ошибок и отправка уведомления пользователю\n\nconst errorInfo = {\n  timestamp: new Date().toISOString(),\n  chatId: $input.first().json.chatId || 'unknown',\n  errorMessage: $input.first().json.error || 'Unknown error',\n  workflowStage: 'final'\n};\n\nconsole.error('Workflow Error:', JSON.stringify(errorInfo));\n\n// Возвращаем понятное сообщение пользователю\nreturn [{\n  json: {\n    chatId: errorInfo.chatId,\n    finalResponse: '⚠️ Произошла ошибка при обработке вашего запроса. Пожалуйста, попробуйте ещё раз позже.',\n    errorLogged: true\n  }\n}];"
      },
      "id": "442a4d3d-6aef-45bd-bdf5-4d835567cf49",
      "name": "Global Error Handler1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -832
      ],
      "notes": "Глобальный обработчик ошибок для всего воркфлоу."
    },
    {
      "parameters": {
        "jsCode": "// Парсинг решения оркестратора\ntry {\n  const content = $input.first().json.output || $input.first().json.choices?.[0]?.message?.content;\n  const decision = typeof content === 'string' ? JSON.parse(content) : content;\n  \n  const target = decision.target_agent || 'general_chat';\n  const confidence = decision.confidence || 0;\n\n  return [{\n    json: {\n      ...$input.first().json,\n      targetAgent: target,\n      confidence: confidence,\n      routeTo: target === 'calendar_agent' ? 'calendar' : 'general'\n    }\n  }];\n} catch (e) {\n  // При ошибке парсинга идем в общий чат\n  return [{\n    json: {\n      ...$input.first().json,\n      targetAgent: 'general_chat',\n      confidence: 0,\n      routeTo: 'general'\n    }\n  }];\n}"
      },
      "id": "0300ea78-9983-40f8-aab5-5a5a04c3ff34",
      "name": "Parse Orchestrator Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"# Calendar Agent - Tool-Based Execution\n\n## ROLE\nYou are a Calendar Assistant with access to tools. Execute the requested task.\n\n## AVAILABLE TOOLS\n1. **create_event** - Create new calendar event\n2. **read_events** - List upcoming events\n3. **update_event** - Modify existing event\n4. **delete_event** - Remove event\n5. **check_availability** - Check free time slots\n\n## CURRENT TASK\nTask: {{ $json.task }}\nParameters: {{ JSON.stringify($json.params) }}\n\n## USER CONTEXT\nMessage: {{ $json.message }}\nHistory: {{ JSON.stringify($json.messageHistory.slice(-3)) }}\nTimezone: {{ $json.metadata.timezone }}\n\n## RULES\n1. Use tools for all calendar operations\n2. Return structured JSON with action result\n3. If params incomplete → ask clarifying questions\n4. Always include success/failure status\n\n## OUTPUT FORMAT\n{\n  \"action\": \"tool_name\",\n  \"success\": true/false,\n  \"data\": {...},\n  \"message\": \"User-friendly response\",\n  \"requiresFollowup\": false\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.choices[0].message.reasoning.replace(/\\\"/g, '\\\\\\\"').replace(/\\\\n/g, ' ') }}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 300,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -560
      ],
      "id": "0ce886f3-676c-4790-bac4-67ad3cc39683",
      "name": "Groq Calendar Agent (Tools)",
      "notesInFlow": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "PkPpLSVu1GC9EZIv",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Init Session & Validate": {
      "main": [
        [
          {
            "node": "Skip Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Empty?": {
      "main": [
        [],
        [
          {
            "node": "Memory Hub (Shared)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Switch": {
      "main": [
        [
          {
            "node": "Groq Calendar Agent (Tools)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq models1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq models": {
      "main": [
        [
          {
            "node": "Parse Orchestrator Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Init Session & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq models1": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Memory Hub (Shared)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Update Memory Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Tools Executor": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unify Agent Responses": {
      "main": [
        []
      ]
    },
    "Memory Hub (Shared)1": {
      "main": [
        [
          {
            "node": "Groq models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Orchestrator Decision": {
      "main": [
        [
          {
            "node": "Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Memory Hub": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Calendar Agent (Tools)": {
      "main": [
        [
          {
            "node": "Calendar Tools Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1bfc7e5-7910-4e57-8011-31477463d2a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccf03437b343ab3a5d4bb83a8ba00957ad3202c3c6358cc13fae625b02e88ab3"
  },
  "id": "Hk2RXAoR0kTPdea4",
  "tags": [
    {
      "updatedAt": "2026-03-29T17:02:12.531Z",
      "createdAt": "2026-03-29T17:02:12.531Z",
      "id": "51ktlpzelwctXXKV",
      "name": "production"
    },
    {
      "updatedAt": "2026-03-29T14:57:27.306Z",
      "createdAt": "2026-03-29T14:57:27.306Z",
      "id": "J3pdkorkb8zIkI4G",
      "name": "refactored"
    }
  ]
}
