Assistent-Production-v3.json
{
  "name": "Assistent-Production-v3",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Подготовка данных сессии и очистка входа\nconst message = $input.first().json.message;\nconst chatId = message.chat.id;\nconst text = message.text || '';\nconst userId = message.from.id;\n\n// Проверка на пустое сообщение или команду старта без контекста\nif (!text.trim() && !message.new_chat_members) {\n  return [{ json: { skip: true, reason: 'empty_message' } }];\n}\n\n// Формирование единого sessionId для памяти\nconst sessionId = `chat_${chatId}_user_${userId}`;\n\nreturn [{\n  json: {\n    chatId,\n    userId,\n    text,\n    sessionId,\n    timestamp: new Date().toISOString(),\n    input: {\n      role: 'user',\n      content: text\n    }\n  }\n}];"
      },
      "id": "5a61e3ea-4536-4d48-816d-a8991082b022",
      "name": "Init Session & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "45ed630a-d5f9-46b3-8f84-22b49fea4209",
      "name": "Skip Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        -256
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.targetAgent }}",
        "rules": {
          "rules": [
            {
              "value2": "general_chat",
              "output": 1
            },
            {
              "value2": "calendar_agent"
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "f9962914-514b-4589-8a78-107d41d8b08f",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        352,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Объединение результатов от разных веток с очисткой от JSON-разметки\nlet responseText = '';\n\n// Получаем входные данные\nconst input = $input.first().json;\n\n// Функция для извлечения чистого текста из различных форматов\nfunction extractContent(data) {\n  if (!data) return '';\n  \n  // Если строка - пробуем распарсить как JSON\n  if (typeof data === 'string') {\n    try {\n      const parsed = JSON.parse(data);\n      // Возвращаем только полезное содержимое, убираем action\n      return parsed.response || parsed.content || parsed.text || parsed.message || data;\n    } catch (e) {\n      // Если не JSON - чистим от возможных остатков JSON-синтаксиса\n      return data\n        .replace(/^\\s*\\{\\s*\"action\"\\s*:\\s*\"[^\"]*\"\\s*,\\s*\"response\"\\s*:\\s*\"/, '') // Удаляем {\"action\": \"...\", \"response\": \"\n        .replace(/\"\\s*\\}\\s*$/, '') // Удаляем завершающие \"}\n        .replace(/\\\\\"/g, '\"') // Раэкранируем кавычки\n        .trim();\n    }\n  }\n  \n  // Если объект - извлекаем content/response\n  if (typeof data === 'object') {\n    // Исключаем технические поля\n    const { action, confidence, forward_to, ...rest } = data;\n    return rest.response || rest.content || rest.text || rest.message || JSON.stringify(rest);\n  }\n  \n  return String(data);\n}\n\n// Определяем источник ответа\nif (input.choices?.[0]?.message?.content) {\n  // Стандартный формат OpenAI/Groq API\n  responseText = extractContent(input.choices[0].message.content);\n} else if (input.output) {\n  // Ответ от General Chat или других агентов\n  responseText = extractContent(input.output);\n} else if (input.response) {\n  // Ответ от LangChain Agent (Calendar)\n  responseText = extractContent(input.response);\n} else if (input.content) {\n  // Прямой формат content\n  responseText = extractContent(input.content);\n} else {\n  // Fallback\n  responseText = 'Произошла ошибка обработки запроса.';\n}\n\n// Финальная очистка от технических префиксов, если остались\nresponseText = responseText\n  .replace(/^\\s*{\\s*\"action\"\\s*:\\s*\"respond\"\\s*,\\s*\"response\"\\s*:\\s*\"/i, '')\n  .replace(/^\\s*{\\s*\"action\"\\s*:\\s*\"route_calendar\"\\s*,\\s*\"response\"\\s*:\\s*\"/i, '')\n  .replace(/\"\\s*}\\s*$/g, '')\n  .replace(/\\\\\"/g, '\"')\n  .replace(/^[\"']|[\"']$/g, '')\n  .trim();\n\n// Если после очистки пусто - используем fallback\nif (!responseText) {\n  responseText = 'Не удалось обработать ответ агента.';\n}\n\nreturn [{\n  json: {\n    chatId: $('Init Session & Validate').first().json.chatId,\n    text: responseText,\n    originalInput: $('Init Session & Validate').first().json.text\n  }\n}];"
      },
      "id": "17faf0ad-1224-444e-8a0c-f904e10e4be2",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Обработка ошибки: отправка сообщения пользователю\nconst chatId = $('Init Session & Validate').first()?.json?.chatId || $json.chatId;\nconst errorMsg = '⚠️ Произошла внутренняя ошибка. Попробуйте позже.';\n\nreturn [{\n  json: {\n    chatId: chatId,\n    text: errorMsg\n  }\n}];"
      },
      "id": "296ed7f7-3646-4d8c-8c16-0a3139e755ee",
      "name": "Global Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -832
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        -256
      ],
      "id": "2e72f7ce-50f6-4b90-b3f8-0f1e7e91629f",
      "name": "Telegram Trigger",
      "webhookId": "9e2b81a4-24e2-470a-a159-4686b45ebc28",
      "credentials": {
        "telegramApi": {
          "id": "5RUQkvl1p27uqeZW",
          "name": "@MyownAssistentbot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты — General Chat. Отвечай кратко и по существу.\\n\\nПРАВИЛА:\\n1. Если тема = календарь/время/встречи → JSON: {\\\"action\\\": \\\"route_calendar\\\", \\\"response\\\": \\\"Переключаю на агента календаря\\\"}\\n2. Если обычный разговор → JSON: {\\\"action\\\": \\\"respond\\\", \\\"response\\\": \\\"твой ответ\\\"}\\n\\nПРИМЕРЫ:\\nUser: \\\"Привет\\\" → {\\\"action\\\": \\\"respond\\\", \\\"response\\\": \\\"Привет! Чем могу помочь?\\\"}\\nUser: \\\"Создай встречу\\\" → {\\\"action\\\": \\\"route_calendar\\\", \\\"response\\\": \\\"Переключаю...\\\"}\\nUser: \\\"Как дела?\\\" → {\\\"action\\\": \\\"respond\\\", \\\"response\\\": \\\"Отлично, готов помочь!\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.choices[0].message.reasoning.replace(/\\\"/g, '\\\\\\\"').replace(/\\\\n/g, ' ') }}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 300,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -416
      ],
      "id": "c3ac56fb-4330-4b07-b0b3-928515ec3b08",
      "name": "Groq models1",
      "credentials": {
        "httpBearerAuth": {
          "id": "PkPpLSVu1GC9EZIv",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        -416
      ],
      "id": "be4caff4-3b69-4391-88c9-65027fa413d7",
      "name": "Send a text message",
      "webhookId": "92a4eb69-943b-4091-a4de-1712f47e116b",
      "credentials": {
        "telegramApi": {
          "id": "5RUQkvl1p27uqeZW",
          "name": "@MyownAssistentbot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === CALENDAR TOOLS IMPLEMENTATION ===\n// Реализация инструментов для работы с календарём\n\nconst task = $input.first().json.task;\nconst params = $input.first().json.params || {};\nconst timezone = $input.first().json.metadata?.timezone || 'Asia/Yekaterinburg';\nconst chatId = $input.first().json.chatId;\n\n// Mock-реализация (в production заменить на Google Calendar/Outlook API)\nconst calendarTools = {\n  \n  create_event: async (params) => {\n    // Валидация параметров\n    if (!params.title) {\n      return {\n        success: false,\n        requiresFollowup: true,\n        message: 'Как называется событие?',\n        missingField: 'title'\n      };\n    }\n    \n    if (!params.date && !params.datetime) {\n      return {\n        success: false,\n        requiresFollowup: true,\n        message: 'На какую дату и время запланировать событие?',\n        missingField: 'datetime'\n      };\n    }\n    \n    if (!params.duration) {\n      params.duration = 60; // По умолчанию 1 час\n    }\n    \n    // Mock создание события\n    const eventId = `evt_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n    \n    return {\n      success: true,\n      action: 'create_event',\n      data: {\n        eventId: eventId,\n        title: params.title,\n        datetime: params.date || params.datetime,\n        duration: params.duration,\n        description: params.description || '',\n        createdAt: new Date().toISOString()\n      },\n      message: `✅ Событие \"${params.title}\" создано на ${params.date || params.datetime}`,\n      requiresFollowup: false\n    };\n  },\n  \n  read_events: async (params) => {\n    const fromDate = params.fromDate || new Date().toISOString();\n    const toDate = params.toDate || new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString();\n    \n    // Mock получение событий\n    const mockEvents = [\n      {\n        eventId: 'evt_001',\n        title: 'Встреча с командой',\n        datetime: '2026-04-01T10:00:00Z',\n        duration: 60\n      },\n      {\n        eventId: 'evt_002',\n        title: 'Обед с клиентом',\n        datetime: '2026-04-02T13:00:00Z',\n        duration: 90\n      }\n    ];\n    \n    return {\n      success: true,\n      action: 'read_events',\n      data: {\n        events: mockEvents,\n        count: mockEvents.length,\n        dateRange: { from: fromDate, to: toDate }\n      },\n      message: `📅 Найдено ${mockEvents.length} событий на ближайшую неделю`,\n      requiresFollowup: false\n    };\n  },\n  \n  update_event: async (params) => {\n    if (!params.eventId) {\n      return {\n        success: false,\n        requiresFollowup: true,\n        message: 'Какое событие нужно обновить? Укажите название или дату.',\n        missingField: 'eventId'\n      };\n    }\n    \n    // Mock обновление\n    return {\n      success: true,\n      action: 'update_event',\n      data: {\n        eventId: params.eventId,\n        updated: true\n      },\n      message: `✅ Событие обновлено`,\n      requiresFollowup: false\n    };\n  },\n  \n  delete_event: async (params) => {\n    if (!params.eventId && !params.title) {\n      return {\n        success: false,\n        requiresFollowup: true,\n        message: 'Какое событие нужно удалить?',\n        missingField: 'eventId'\n      };\n    }\n    \n    // Mock удаление\n    return {\n      success: true,\n      action: 'delete_event',\n      data: {\n        deleted: true\n      },\n      message: `✅ Событие удалено из календаря`,\n      requiresFollowup: false\n    };\n  },\n  \n  check_availability: async (params) => {\n    const date = params.date || new Date().toISOString().split('T')[0];\n    \n    // Mock проверка доступности\n    const availableSlots = [\n      { start: '09:00', end: '12:00' },\n      { start: '14:00', end: '18:00' }\n    ];\n    \n    return {\n      success: true,\n      action: 'check_availability',\n      data: {\n        date: date,\n        availableSlots: availableSlots\n      },\n      message: `🕐 Доступные слоты на ${date}: 09:00-12:00, 14:00-18:00`,\n      requiresFollowup: false\n    };\n  }\n};\n\n// Выполнение инструмента\nasync function executeTool() {\n  try {\n    const tool = calendarTools[task];\n    \n    if (!tool) {\n      return {\n        success: false,\n        action: task,\n        message: `❌ Неизвестная задача: ${task}`,\n        requiresFollowup: true\n      };\n    }\n    \n    const result = await tool(params);\n    \n    return {\n      json: {\n        ...$input.first().json,\n        calendarResult: result,\n        agentResponse: result.message,\n        requiresFollowup: result.requiresFollowup\n      }\n    };\n    \n  } catch (error) {\n    console.error('Calendar tool error:', error);\n    \n    return {\n      json: {\n        ...$input.first().json,\n        calendarResult: {\n          success: false,\n          action: task,\n          message: `❌ Ошибка выполнения: ${error.message}`,\n          requiresFollowup: false\n        },\n        agentResponse: `Произошла ошибка при обработке запроса: ${error.message}`,\n        error: error.message\n      }\n    };\n  }\n}\n\n// Для синхронного выполнения в n8n Code node\n// В реальном сценарии использовать асинхронные вызовы через HTTP Request\nconst result = calendarTools[task] ? calendarTools[task](params) : {\n  success: false,\n  message: `Неизвестная задача: ${task}`\n};\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    calendarResult: result,\n    agentResponse: result.message,\n    requiresFollowup: result.requiresFollowup\n  }\n}];"
      },
      "id": "ec4928ac-cbe9-4e01-b52d-68f4499d4f05",
      "name": "Calendar Tools Executor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -560
      ],
      "onError": "continueRegularOutput",
      "notes": "Реализация инструментов календаря. В production заменить на API вызовы."
    },
    {
      "parameters": {
        "jsCode": "// === UNIFY AGENT RESPONSES ===\n// Приведение ответов от всех агентов к единому формату\n\nconst inputData = $input.first().json;\nlet finalResponse = '';\n\n// Определяем источник ответа\nif (inputData.calendarResult) {\n  // Ответ от Calendar Agent\n  finalResponse = inputData.agentResponse || inputData.calendarResult.message;\n} else if (inputData.choices) {\n  // Ответ от Default Agent (OpenAI format)\n  finalResponse = inputData.choices[0]?.message?.content || 'Извините, не удалось обработать запрос.';\n} else if (inputData.agentResponse) {\n  // Готовый ответ\n  finalResponse = inputData.agentResponse;\n} else {\n  // Fallback\n  finalResponse = '⚠️ Произошла ошибка при обработке запроса. Попробуйте ещё раз.';\n}\n\n// Обновляем историю с ответом ассистента\nconst updatedHistory = [...(inputData.messageHistory || [])];\nupdatedHistory.push({\n  role: 'assistant',\n  content: finalResponse,\n  timestamp: new Date().toISOString()\n});\n\n// Ограничиваем историю\nif (updatedHistory.length > 10) {\n  updatedHistory.slice(-10);\n}\n\nreturn [{\n  json: {\n    ...inputData,\n    finalResponse: finalResponse,\n    updatedHistory: updatedHistory,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "246e0f40-b3b3-4a7f-92a1-32756445d193",
      "name": "Unify Agent Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -832
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const sessionId = $input.first().json.sessionId;\nconst userMsg = $input.first().json.originalInput.replace(/'/g, \"''\");\nconst botMsg = $input.first().json.text.replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    query: `INSERT INTO chat_history (session_id, role, content) VALUES ('${sessionId}', 'user', '${userMsg}'), ('${sessionId}', 'assistant', '${botMsg}')`\n  }\n}];"
      },
      "id": "b6b44b95-6f9d-4e0f-8599-74b5888b1cb2",
      "name": "Update Memory Hub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -416
      ],
      "onError": "continueRegularOutput",
      "notes": "Обновление сессии после обработки. В production - запись в БД."
    },
    {
      "parameters": {
        "jsCode": "// ВСЕГДА берем основные данные из Skip Empty? (там точно есть text, chatId и т.д.)\nconst skipEmptyData = $('Skip Empty?').first().json;\n\nif (!skipEmptyData || !skipEmptyData.text) {\n  throw new Error('Нет данных от Skip Empty?');\n}\n\nconst text = skipEmptyData.text;\nconst chatId = skipEmptyData.chatId;\nconst userId = skipEmptyData.userId;\nconst sessionId = skipEmptyData.sessionId || `chat_${chatId}_user_${userId}`;\n\n// Получаем историю из текущего input (от Postgres)\n// Postgres возвращает массив [{role: 'user', content: '...'}] или []\nconst input = $input.first().json;\nlet history = [];\n\nif (Array.isArray(input) && input.length > 0 && input[0].role) {\n  // История есть (Postgres вернул массив сообщений)\n  history = input;\n} else if (input && Array.isArray(input.data) && input.data.length > 0) {\n  // Если Postgres возвращает через поле data\n  history = input.data;\n}\n\n// Формируем messages для Groq\nconst messages = [\n  {\n    role: \"system\",\n    content: \"ТЫ — МАРШРУТИЗАТОР (ORCHESTRATOR).\\nТвоя задача: определить нужный СКИЛЛ (агент) на основе сообщения пользователя.\\n\\nДОСТУПНЫЕ СКИЛЛЫ:\\n1. calendar_agent — Работа с календарем (создать, удалить, найти событие, расписание).\\n2. general_chat — Обычный разговор, вопросы, уточнения (используется по умолчанию).\\n\\nПРАВИЛА:\\n- Если пользователь говорит о времени, встречах, планах -> выбирай 'calendar_agent'.\\n- В остальных случаях -> выбирай 'general_chat'.\\n- НЕ отвечай на вопрос, ТОЛЬКО выбери скилл.\\n\\nФОРМАТ ОТВЕТА (СТРОГО JSON):\\n{\\\"target_agent\\\": \\\"calendar_agent\\\" | \\\"general_chat\\\", \\\"confidence\\\": 0-1}\"\n  }\n];\n\n// Добавляем историю из БД (если есть)\nhistory.forEach(msg => {\n  if (msg && msg.role && msg.content) {\n    messages.push({\n      role: msg.role,\n      content: String(msg.content)\n    });\n  }\n});\n\n// Добавляем текущее сообщение пользователя (ВСЕГДА из Skip Empty?)\nmessages.push({\n  role: \"user\",\n  content: String(text)\n});\n\nreturn [{\n  json: {\n    chatId: chatId,\n    userId: userId,\n    sessionId: sessionId,\n    text: text,\n    messages: messages,\n    originalInput: {\n      role: 'user',\n      content: text\n    }\n  }\n}];"
      },
      "id": "0c8d6498-c3b7-4974-980f-743695ed512a",
      "name": "Memory Hub (Shared)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -400
      ],
      "onError": "continueRegularOutput",
      "notes": "Централизованное хранилище сессий. В production заменить на Redis/PostgreSQL."
    },
    {
      "parameters": {
        "jsCode": "// === GLOBAL ERROR HANDLER ===\n// Логирование ошибок и отправка уведомления пользователю\n\nconst errorInfo = {\n  timestamp: new Date().toISOString(),\n  chatId: $input.first().json.chatId || 'unknown',\n  errorMessage: $input.first().json.error || 'Unknown error',\n  workflowStage: 'final'\n};\n\nconsole.error('Workflow Error:', JSON.stringify(errorInfo));\n\n// Возвращаем понятное сообщение пользователю\nreturn [{\n  json: {\n    chatId: errorInfo.chatId,\n    finalResponse: '⚠️ Произошла ошибка при обработке вашего запроса. Пожалуйста, попробуйте ещё раз позже.',\n    errorLogged: true\n  }\n}];"
      },
      "id": "442a4d3d-6aef-45bd-bdf5-4d835567cf49",
      "name": "Global Error Handler1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -832
      ],
      "notes": "Глобальный обработчик ошибок для всего воркфлоу."
    },
    {
      "parameters": {
        "jsCode": "// Парсинг решения оркестратора\ntry {\n  const content = $input.first().json.output || $input.first().json.choices?.[0]?.message?.content;\n  const decision = typeof content === 'string' ? JSON.parse(content) : content;\n  \n  const target = decision.target_agent || 'general_chat';\n  const confidence = decision.confidence || 0;\n\n  return [{\n    json: {\n      ...$input.first().json,\n      targetAgent: target,\n      confidence: confidence,\n      routeTo: target === 'calendar_agent' ? 'calendar' : 'general'\n    }\n  }];\n} catch (e) {\n  // При ошибке парсинга идем в общий чат\n  return [{\n    json: {\n      ...$input.first().json,\n      targetAgent: 'general_chat',\n      confidence: 0,\n      routeTo: 'general'\n    }\n  }];\n}"
      },
      "id": "0300ea78-9983-40f8-aab5-5a5a04c3ff34",
      "name": "Parse Orchestrator Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"method\": \"POST\",\n  \"url\": \"https://api.groq.com/openai/v1/chat/completions\",\n  \"authentication\": \"genericCredentialType\",\n  \"genericAuthType\": \"httpBearerAuth\",\n  \"sendBody\": true,\n  \"specifyBody\": \"json\",\n  \"jsonBody\": \"={\\n  \\\"model\\\": \\\"openai/gpt-oss-120b\\\",\\n  \\\"messages\\\": [\\n    {\\n      \\\"role\\\": \\\"system\\\",\\n      \\\"content\\\": \\\"Ты — Calendar Intent Parser. Анализируй запрос пользователя и возвращай строго JSON с параметрами для Calendar API.\\\\n\\\\nДОСТУПНЫЕ ЗАДАЧИ (task):\\\\n- create_event: создать событие\\\\n- read_events: показать события (период: от сегодня +7 дней по умолчанию)\\\\n- update_event: изменить событие\\\\n- delete_event: удалить событие\\\\n- check_availability: проверить свободное время\\\\n\\\\nПАРАМЕТРЫ (params):\\\\n- create_event: {title (string, обязательно), datetime (ISO8601 с timezone), duration (минуты, default: 60), description (string)}\\\\n- read_events: {fromDate (ISO8601), toDate (ISO8601)}\\\\n- update_event: {eventId или title (для поиска), newTitle, newDatetime, newDuration}\\\\n- delete_event: {eventId или title}\\\\n- check_availability: {date (YYYY-MM-DD)}\\\\n\\\\nПРАВИЛА:\\\\n1. Таймзона пользователя: {{ $json.metadata?.timezone || 'Asia/Yekaterinburg' }} (UTC+5)\\\\n2. Если пользователь говорит 'завтра' — используй дату {{ new Date(Date.now() + 86400000).toISOString().split('T')[0] }}\\\\n3. Если время не указано — используй 10:00\\\\n4. Длительность по умолчанию: 60 минут\\\\n5. Все даты должны быть в ISO8601 с timezone +05:00\\\\n\\\\nФОРМАТ ОТВЕТА (строго JSON, без markdown):\\\\n{\\\\\\\"task\\\\\\\": \\\\\\\"create_event\\\\\\\", \\\\\\\"params\\\\\\\": {\\\\\\\"title\\\\\\\": \\\\\\\"...\\\\\\\", \\\\\\\"datetime\\\\\\\": \\\\\\\"2026-03-31T15:00:00+05:00\\\\\\\", \\\\\\\"duration\\\\\\\": 60}, \\\\\\\"confidence\\\\\\\": 0.95}\\\\n\\\\nЕсли запрос не про календарь: {\\\\\\\"task\\\\\\\": \\\\\\\"general_chat\\\\\\\", \\\\\\\"params\\\\\\\": {\\\\\\\"message\\\\\\\": \\\\\\\"текст ответа\\\\\\\"}, \\\\\\\"confidence\\\\\\\": 0.1}\\\"\\n    },\\n    {\\n      \\\"role\\\": \\\"user\\\",\\n      \\\"content\\\": \\\"={{ $json.choices[0].message.content }}\\\"\\n    },\\n    {\\n      \\\"role\\\": \\\"assistant\\\", \\n      \\\"content\\\": \\\"История диалога: {{ JSON.stringify($json.messageHistory?.slice(-2) || []) }}\\\"\\n    }\\n  ],\\n  \\\"temperature\\\": 0.1,\\n  \\\"max_tokens\\\": 600,\\n  \\\"response_format\\\": {\\n    \\\"type\\\": \\\"json_object\\\"\\n  }\\n}\",\n  \"options\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        -560
      ],
      "id": "0ce886f3-676c-4790-bac4-67ad3cc39683",
      "name": "Groq Calendar Agent (Tools)",
      "notesInFlow": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "PkPpLSVu1GC9EZIv",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content, created_at \nFROM chat_history \nWHERE session_id = '{{ $json.sessionId }}'\nORDER BY created_at ASC \nLIMIT 5",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -352,
        -400
      ],
      "id": "95ab7dbe-ab01-4729-a99a-e86e1f9b976c",
      "name": "Memory Hub",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "RDmnCD3zqIXN1a58",
          "name": "Postgres Owntables"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"temperature\": 0.1,\n  \"max_tokens\": 150,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -400
      ],
      "id": "7074c574-9d2e-472b-bcef-5fa8202aceb8",
      "name": "Groq ORCHESTRATOR",
      "notesInFlow": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "PkPpLSVu1GC9EZIv",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_history (session_id, role, content) \nVALUES \n('{{ $json.sessionId }}', 'user', '{{ $json.originalInput }}'),\n('{{ $json.sessionId }}', 'assistant', '{{ $json.text }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        -416
      ],
      "id": "77549611-20c5-4e01-bcd1-0fbdfee16ce8",
      "name": "Memory Hub1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "RDmnCD3zqIXN1a58",
          "name": "Postgres Owntables"
        }
      }
    },
    {
      "parameters": {
        "content": "## {\n  \"model\": \"openai/gpt-oss-120b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"# Calendar Agent - Tool-Based Execution\n\n## ROLE\nYou are a Calendar Assistant with access to tools. Execute the requested task.\n\n## AVAILABLE TOOLS\n1. **create_event** - Create new calendar event\n2. **read_events** - List upcoming events\n3. **update_event** - Modify existing event\n4. **delete_event** - Remove event\n5. **check_availability** - Check free time slots\n\n## CURRENT TASK\nTask: {{ $json.task }}\nParameters: {{ JSON.stringify($json.params) }}\n\n## USER CONTEXT\nMessage: {{ $json.message }}\nHistory: {{ JSON.stringify($json.messageHistory.slice(-3)) }}\nTimezone: {{ $json.metadata.timezone }}\n\n## RULES\n1. Use tools for all calendar operations\n2. Return structured JSON with action result\n3. If params incomplete → ask clarifying questions\n4. Always include success/failure status\n\n## OUTPUT FORMAT\n{\n  \"action\": \"tool_name\",\n  \"success\": true/false,\n  \"data\": {...},\n  \"message\": \"User-friendly response\",\n  \"requiresFollowup\": false\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.choices[0].message.reasoning.replace(/\\\"/g, '\\\\\\\"').replace(/\\\\n/g, ' ') }}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 600,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}",
        "height": 416,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        -496
      ],
      "typeVersion": 1,
      "id": "13a2d165-f827-40bf-9085-288c289fb7f5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "{\n  \"parameters\": {\n    \"jsCode\": \"// Парсинг ответа от Groq и подготовка данных для Calendar API\\nconst inputData = $input.first().json;\\nconst content = inputData.choices?.[0]?.message?.content;\\n\\nlet parsed;\\ntry {\\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\\n} catch (e) {\\n  // Fallback если LLM вернул не JSON\\n  return [{\\n    json: {\\n      ...inputData,\\n      task: 'general_chat',\\n      params: { response: content || 'Не удалось обработать запрос' },\\n      isCalendarAction: false,\\n      agentResponse: content\\n    }\\n  }];\\n}\\n\\n// Проверяем наличие обязательных полей для create_event\\nif (parsed.task === 'create_event' && !parsed.params?.title) {\\n  parsed.task = 'general_chat';\\n  parsed.params = { \\n    response: 'Уточните, пожалуйста, название события. Как называется встреча?' \\n  };\\n}\\n\\nif (parsed.task === 'create_event' && !parsed.params?.datetime) {\\n  parsed.task = 'general_chat';\\n  parsed.params = { \\n    response: 'На какую дату и время запланировать событие?' \\n  };\\n}\\n\\nreturn [{\\n  json: {\\n    ...inputData,\\n    task: parsed.task || 'general_chat',\\n    params: parsed.params || {},\\n    confidence: parsed.confidence || 0.5,\\n    isCalendarAction: ['create_event', 'read_events', 'update_event', 'delete_event', 'check_availability'].includes(parsed.task),\\n    rawIntent: parsed\\n  }\\n}];\"\n  },\n  \"id\": \"parse-calendar-intent-001\",\n  \"name\": \"Parse Calendar Intent\",\n  \"type\": \"n8n-nodes-base.code\",\n  \"typeVersion\": 2,\n  \"position\": [768, -560]\n}"
      },
      "id": "3b30deb2-a432-4cfc-800a-9a9f11d9d208",
      "name": "Parse Calendar Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -720
      ],
      "onError": "continueRegularOutput",
      "notes": "Реализация инструментов календаря. В production заменить на API вызовы."
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "pashoknv@gmail.com",
          "mode": "list",
          "cachedResultName": "pashoknv@gmail.com"
        },
        "start": "={{ $fromAI('start', ``, 'string') }}",
        "end": "={{ $fromAI('end', ``, 'string') }}",
        "useDefaultReminders": "={{ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ $fromAI('summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        -848
      ],
      "id": "65f8a8e5-76b1-41b9-b2ac-3f5b5fc38408",
      "name": "createEvents",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7tJNOvtUqCcaWZYu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "pashoknv@gmail.com",
          "mode": "list",
          "cachedResultName": "pashoknv@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        -848
      ],
      "id": "98123aab-557d-4737-8def-9af445af9a33",
      "name": "deleteEvents",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7tJNOvtUqCcaWZYu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "pashoknv@gmail.com",
          "mode": "list",
          "cachedResultName": "pashoknv@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        608,
        -848
      ],
      "id": "ea5addf5-f9f5-43c8-bab5-ef3d756714d1",
      "name": "updateEvents",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7tJNOvtUqCcaWZYu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "pashoknv@gmail.com",
          "mode": "list",
          "cachedResultName": "pashoknv@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        720,
        -848
      ],
      "id": "6a74d210-a03c-4a39-890f-99713e626958",
      "name": "getEvents",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7tJNOvtUqCcaWZYu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "/**\n * КАЛЕНДАРНЫЙ АГЕНТ - v3 (Исправленная логика дат и формата)\n */\nconst { ChatPromptTemplate } = require('@langchain/core/prompts');\nconst { AgentExecutor, createToolCallingAgent } = require('langchain/agents');\n\n// 1. ВХОДНЫЕ ДАННЫЕ\nconst inputData = $input.first().json;\nconst output = inputData.output || inputData;\nconst { intent, confidence, payload = {} } = output;\nconst { query = '', timezone = 'Asia/Yekaterinburg' } = payload;\n\nif (confidence < 0.8) {\n  return [{ json: { success: false, intent: \"clarification_needed\", error: \"Низкая уверенность\", original_query: query, confidence, message: \"Уточните запрос.\" } }];\n}\n\nlet action = null, eventName = null, targetDate = null, timeStart = null, timeEnd = null;\nlet events = [], parsedResult = null, executionError = null, agentOutput = null;\n\ntry {\n  const llm = await this.getInputConnectionData('ai_languageModel', 0);\n  const toolsArray = (await this.getInputConnectionData('ai_tool', 0)) || [];\n  if (!llm || toolsArray.length === 0) throw new Error('LLM или инструменты не подключены');\n\n  // 2. ДИНАМИЧЕСКИЙ СПРАВОЧНИК ДАТ\n  const now = new Date();\n  const fmt = (d) => d.toISOString().split('T')[0];\n  const fmtRu = (d) => {\n    const months = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'];\n    return `${d.getDate()} ${months[d.getMonth()]} ${d.getFullYear()}`;\n  };\n\n  const getRelativeDate = (days) => {\n    const d = new Date(now);\n    d.setDate(now.getDate() + days);\n    return d;\n  };\n\n  // Вычисляем границы недель\n  const day = now.getDay();\n  const monday = new Date(now);\n  monday.setDate(now.getDate() + (day === 0 ? -6 : 1 - day));\n  const sunday = new Date(monday);\n  sunday.setDate(monday.getDate() + 6);\n\n  const nextMonday = new Date(monday);\n  nextMonday.setDate(monday.getDate() + 7);\n  const nextSunday = new Date(nextMonday);\n  nextSunday.setDate(nextMonday.getDate() + 6);\n\n  // Поиск следующего четверга\n  const nextThursday = new Date(now);\n  nextThursday.setDate(now.getDate() + ((4 + 7 - now.getDay()) % 7 || 7));\n\n  const periods = {\n    today: { s: `${fmt(now)}T00:00:00`, e: `${fmt(now)}T23:59:59` },\n    tomorrow: { s: `${fmt(getRelativeDate(1))}T00:00:00`, e: `${fmt(getRelativeDate(1))}T23:59:59` },\n    thisWeek: { s: `${fmt(monday)}T00:00:00`, e: `${fmt(sunday)}T23:59:59` },\n    nextWeek: { s: `${fmt(nextMonday)}T00:00:00`, e: `${fmt(nextSunday)}T23:59:59` },\n    nextThu: { s: `${fmt(nextThursday)}T00:00:00`, e: `${fmt(nextThursday)}T23:59:59` }\n  };\n\n  // 3. СИСТЕМНЫЙ ПРОМПТ (Строгий формат)\n  const systemPrompt = `Ты - агент Google Calendar. \nТекущее время: ${now.toISOString()} (${fmtRu(now)})\nТаймзона: ${timezone}\n\nСПРАВОЧНИК ДАТ (ИСПОЛЬЗУЙ ЭТИ ЗНАЧЕНИЯ):\n- Сегодня: ${fmtRu(now)} (After: ${periods.today.s}, Before: ${periods.today.e})\n- Завтра: ${fmtRu(getRelativeDate(1))} (After: ${periods.tomorrow.s}, Before: ${periods.tomorrow.e})\n- Эта неделя: ${fmtRu(monday)} - ${fmtRu(sunday)} (After: ${periods.thisWeek.s}, Before: ${periods.thisWeek.e})\n- Следующая неделя: ${fmtRu(nextMonday)} - ${fmtRu(nextSunday)} (After: ${periods.nextWeek.s}, Before: ${periods.nextWeek.e})\n- Следующий четверг: ${fmtRu(nextThursday)} (After: ${periods.nextThu.s}, Before: ${periods.nextThu.e})\n\nПРАВИЛА ОТВЕТА (ОБЯЗАТЕЛЬНО):\n1. getEvents (список): \"Список задач на неделю: [дата] – [дата]\\\\n- [дата], [время], [название]\"\n2. getEvents (одна задача): \"Задача на [дата], «[название]»:\\\\n- Время: [время]\\\\n- Дополнительно: [описание]\\\\n- Уведомления: стандартные напоминания\\\\n- ID: [id]\"\n3. createEvents: \"Задача «[название]», [дата], [время] создана. Дополнительно: [описание]\"\n4. deleteEvents: \"Задача «[название]», [дата] в [время] удалена\" (или \"Все задачи за [период] удалены\")\n5. updateEvents: \"Задача «[название]», [дата], [время] обновлена. Добавлено: [что добавлено]\"\n\nПРАВИЛА РАБОТЫ:\n- Всегда используй ISO 8601 с таймзоной для инструментов.\n- Если время не указано, ставь 12:00 или +1 час.\n- Для удаления/обновления сначала найди ID через getEvents.\n\nЗАПРОС: {input}`;\n\n  const prompt = ChatPromptTemplate.fromMessages([\n    [\"system\", systemPrompt],\n    [\"placeholder\", \"{agent_scratchpad}\"]\n  ]);\n\n  const agent = await createToolCallingAgent({ llm, tools: toolsArray, prompt });\n  const executor = new AgentExecutor({ agent, tools: toolsArray, maxIterations: 10, returnIntermediateSteps: true });\n\n  const result = await executor.invoke({ input: query });\n  agentOutput = result.output;\n\n  // 4. СБОР ДАННЫХ ДЛЯ ВЫХОДА\n  if (result.intermediateSteps?.length > 0) {\n    const lastStep = result.intermediateSteps[result.intermediateSteps.length - 1];\n    action = lastStep.action.tool;\n    const tIn = lastStep.action.toolInput;\n    eventName = tIn.Summary || tIn.summary || tIn.Summary_Update;\n    if (tIn.Start || tIn.start) {\n      [targetDate, timeStart] = (tIn.Start || tIn.start).split('T');\n      timeStart = timeStart?.substring(0, 5);\n    }\n    try {\n      parsedResult = typeof lastStep.observation === 'string' ? JSON.parse(lastStep.observation) : lastStep.observation;\n    } catch {\n      parsedResult = lastStep.observation;\n    }\n  }\n\n  const rawEvents = parsedResult?.items || parsedResult?.events || (Array.isArray(parsedResult) ? parsedResult : [parsedResult]);\n  events = (Array.isArray(rawEvents) ? rawEvents : []).filter(e => e && (e.id || e.summary)).map(e => ({\n    ...e,\n    name: e.summary || e.name || null,\n    date: e.start?.dateTime?.split('T')[0] || e.start?.date || e.date || null\n  }));\n\n} catch (error) {\n  executionError = error.message;\n}\n\nconst actionLabels = { getEvents: 'Получение', createEvents: 'Создание', deleteEvents: 'Удаление', updateEvents: 'Обновление' };\n\nreturn [{\n  json: {\n    success: !executionError,\n    error: executionError,\n    action,\n    action_readable: actionLabels[action] || action,\n    event_name: eventName || events[0]?.name || null,\n    date: targetDate || events[0]?.date || null,\n    time_start: timeStart,\n    time_end: timeEnd,\n    events,\n    events_count: events.length,\n    tool_result: parsedResult,\n    original_query: query,\n    confidence,\n    agent_response: agentOutput\n  }\n}];\n"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "ai_tool",
              "required": true
            },
            {
              "type": "main",
              "maxConnections": 1,
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        528,
        -960
      ],
      "id": "78d0be3b-2940-47f4-92e6-35452e3b80d2",
      "name": "Calendar1"
    }
  ],
  "pinData": {},
  "connections": {
    "Init Session & Validate": {
      "main": [
        [
          {
            "node": "Skip Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Empty?": {
      "main": [
        [],
        [
          {
            "node": "Memory Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Switch": {
      "main": [
        [
          {
            "node": "Groq Calendar Agent (Tools)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq models1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Init Session & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq models1": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Update Memory Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Tools Executor": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unify Agent Responses": {
      "main": [
        []
      ]
    },
    "Memory Hub (Shared)1": {
      "main": [
        [
          {
            "node": "Groq ORCHESTRATOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Orchestrator Decision": {
      "main": [
        [
          {
            "node": "Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Memory Hub": {
      "main": [
        [
          {
            "node": "Memory Hub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Calendar Agent (Tools)": {
      "main": [
        [
          {
            "node": "Parse Calendar Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Hub": {
      "main": [
        [
          {
            "node": "Memory Hub (Shared)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq ORCHESTRATOR": {
      "main": [
        [
          {
            "node": "Parse Orchestrator Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Hub1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Calendar Intent": {
      "main": [
        [
          {
            "node": "Calendar Tools Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createEvents": {
      "ai_tool": [
        [
          {
            "node": "Calendar1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "deleteEvents": {
      "ai_tool": [
        [
          {
            "node": "Calendar1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "updateEvents": {
      "ai_tool": [
        [
          {
            "node": "Calendar1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEvents": {
      "ai_tool": [
        [
          {
            "node": "Calendar1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92e7b066-6355-49d4-943d-06f455bc9c73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccf03437b343ab3a5d4bb83a8ba00957ad3202c3c6358cc13fae625b02e88ab3"
  },
  "id": "Hk2RXAoR0kTPdea4",
  "tags": [
    {
      "updatedAt": "2026-03-29T17:02:12.531Z",
      "createdAt": "2026-03-29T17:02:12.531Z",
      "id": "51ktlpzelwctXXKV",
      "name": "production"
    },
    {
      "updatedAt": "2026-03-29T14:57:27.306Z",
      "createdAt": "2026-03-29T14:57:27.306Z",
      "id": "J3pdkorkb8zIkI4G",
      "name": "refactored"
    }
  ]
}
